<!-- Polymer -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- Iron Ajax -->
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<!-- App Storage -->
<link rel="import" href="../../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<!-- BS4 Grid Styles -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- Loading Mixin -->
<link rel="import" href="../mixins/rmc-loading-mixin.html">

<!-- Text View -->
<link rel="import" href="../elements/rmc-text-view.html">

<!-- Shared Styles for Views -->
<link rel="import" href="../shared-styles/rmc-shared-styles-views.html">

<!--
`<view-about>` is the view for the about page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
        
        <view-about id="about"></view-about>
        ...
    </iron-pages>
-->
<dom-module id="view-about">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="rmc-shared-styles-views"></style>
    
    <!-- container -->
    <div class="container">
        <!-- About Text -->
        <rmc-text-view view="about" title="About" loading="{{loading}}"></rmc-text-view>
    </div>
    <!-- /container -->
  </template>

  <script>
    /* eslint new-cap: [2, {"capIsNewExceptions": ["RMCLoadingMixin"]}] */
    /* global RMCLoadingMixin */
    
    /** Class representing about view. */
    class ViewAbout extends RMCLoadingMixin(Polymer.Element) {
      /** HTML tag name. */
      static get is() {
        return 'view-about';
      }
    }
    window.customElements.define(ViewAbout.is, ViewAbout);
  </script>
</dom-module>
