<!-- Polymer -->
<link rel="import" href="../../../node_modules/@npm-polymer/polymer/polymer-element.html">

<!-- Iron Ajax -->
<link rel="import" href="../../../node_modules/@npm-polymer/iron-ajax/iron-ajax.html">

<!-- App Storage -->
<link rel="import" href="../../../node_modules/@npm-polymer/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<!-- BS4 Grid Styles -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- Manufacturing Services -->
<link rel="import" href="../elements/rmc-manufacturing-services.html">

<!-- Equipment List -->
<link rel="import" href="../elements/rmc-equipment-list.html">

<!-- Tool Room List -->
<link rel="import" href="../elements/rmc-tool-room/rmc-tool-room-list.html">

<!-- Text View -->
<link rel="import" href="../elements/rmc-text-view.html">

<!-- Shared Styles for Views -->
<link rel="import" href="shared-styles-views.html">

<!--
`<view-capabilities>` is the view for the capabilities page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
        
        <view-capabilities id="capabilities"></view-capabilities>
        ...
    </iron-pages>
-->
<dom-module id="view-capabilities">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="shared-styles-views"></style>
    
    <!-- container -->
    <div class="container">

        <!-- capabilities text -->
        <rmc-text-view view="capabilities" title="Capabilities"></rmc-text-view>
        
        <h3>Manufacturing Services:</h3>
        
        <!-- manufacturing services -->
        <rmc-manufacturing-services></rmc-manufacturing-services>
        <br>
        
        <h3>Equipment List:</h3>
        
        <!-- equipment list -->
        <rmc-equipment-list></rmc-equipment-list>
        
        <h3>Tool Room:</h3>
        
        <rmc-tool-room-list></rmc-tool-room-list>
        <br>

    </div>
    <!-- /container -->
  </template>

  <script>
    /** Class representing capabilities view. */
    class ViewCapabilities extends Polymer.Element {
      /** HTML tag name. */
      static get is() {
        return 'view-capabilities';
      }
    }
    window.customElements.define(ViewCapabilities.is, ViewCapabilities);
  </script>
</dom-module>
