<!-- Polymer -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- Polymer Gesture Events -->
<link rel="import" href="../../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<!-- App Location -->
<link rel="import" href="../../../bower_components/app-route/app-location.html">

<!-- App Route -->
<link rel="import" href="../../../bower_components/app-route/app-route.html">

<!-- Template Repeater -->
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">

<!-- Iron Ajax -->
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<!-- Iron Pages -->
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<!-- BS4 Button -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/elements/bs4-button/bs4-button.html">

<!-- BS4 Grid Styles -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- BS4 Forms -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/shared-styles/bs4-forms/bs4-forms.html">

<!-- Loading Mixin -->
<link rel="import" href="../mixins/rmc-loading-mixin.html">

<!-- Admin Tabs -->
<link rel="import" href="../elements/rmc-admin-tabs.html">

<!-- Shared Styles for Views -->
<link rel="import" href="../shared-styles/rmc-shared-styles-views.html">

<!-- Admin Views -->
<link rel="import" href="admin/view-admin-home.html">
<link rel="import" href="admin/view-admin-about.html">
<link rel="import" href="admin/view-admin-capabilities.html">
<link rel="import" href="admin/view-admin-rapid-prototyping.html">
<link rel="import" href="admin/view-admin-contact.html">

<!--
`<view-admin>` is the view for the admin page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
        
        <view-admin id="admin"></view-admin>
        ...
    </iron-pages>
-->
<dom-module id="view-admin">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="bs4-shared-styles-forms"></style>
    <style include="rmc-shared-styles-views"></style>
    
    <!-- container -->
    <div class="container">
    
        <h2>Admin Site</h2>
        
        <template is="dom-if" if="{{!loggedIn}}">
            
            <!-- iron ajax request to login -->
            <iron-ajax
                id="login"
                url="api/post/login"
                handle-as="json"
                method="POST"
                on-response="loginResponse"
                loading="{{loading}}">
            </iron-ajax>
            
            <form action="javascript:void(0);">
                
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
                
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                
                <bs4-button name="submit" context="primary" text="Login" on-tap="login"></bs4-button>
            </form>
        </template>
        
        <template is="dom-if" if="{{loggedIn}}">
            <!-- iron ajax request to logout -->
            <iron-ajax
                id="logout"
                url="api/post/logout"
                handle-as="json"
                method="POST"
                on-response="logoutResponse"
                loading="{{loading}}">
            </iron-ajax>
            
            <bs4-button context="primary" text="Logout" on-tap="logout"></bs4-button>
            
            <!-- admin page naviagtion tabs -->
            <rmc-admin-tabs active="{{page}}"></rmc-admin-tabs>
            
            <iron-pages
                selected="{{page}}"
                attr-for-selected="id"
                fallback-selection="home"
                class="pages">
                
                <view-admin-home id="home" loading="{{loading}}"></view-admin-home>
                <view-admin-about id="about" loading="{{loading}}"></view-admin-about>
                <view-admin-capabilities id="capabilities" loading="{{loading}}"></view-admin-capabilities>
                <view-admin-rapid-prototyping id="rapid-prototyping" loading="{{loading}}"></view-admin-rapid-prototyping>
                <view-admin-contact id="contact" loading="{{loading}}"></view-admin-contact>
            </iron-pages>
        </template>
        
    </div>
    <!-- /container -->
    
  </template>

  <script>
    /* eslint new-cap: [2, {"capIsNewExceptions": ["Polymer.GestureEventListeners", "RMCLoadingMixin"]}] */
    /* global RMCLoadingMixin */
    
    /**
     * Class representing admin view.
     * @appliesMixin RMCLoadingMixin
     */
    class ViewAdmin extends Polymer.GestureEventListeners(
      RMCLoadingMixin(Polymer.Element)) {
      /** HTML tag name. */
      static get is() {
        return 'view-admin';
      }
      
      /** Declared properties. */
      static get properties() {
        return {
          loggedIn: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
          page: {
            type: String,
            value: 'home',
            reflectToAttribute: true,
          },
        };
      }
      
      /**
       * Login
       *
       * @param {Object} e - on-tap event.
       */
      login(e) {
        // Get form login info
        let user = this.shadowRoot.querySelector('#username').value;
        let pass = this.shadowRoot.querySelector('#password').value;
        
        // Login
        let params = 'username=' + user + '&password=' + pass;
        let xhr = this.shadowRoot.getElementById('login');
        xhr.body = params;
        xhr.generateRequest();
      }
      
      /**
       * Login response.
       *
       * @param {Object} e - ajax response.
       */
      loginResponse(e) {
        // Get response
        let response = e.detail.response;
        
        // Check response status
        if (response.status === 'success') {
          // Success!
          this.loggedIn = true;
        } else {
          // Failure
          this.loggedIn = false;
        }
      }
      
      /**
       * Logout
       *
       * @param {Object} e - on-tap event.
       */
      logout(e) {
        // Logout request
        let xhr = this.shadowRoot.getElementById('logout');
        xhr.generateRequest();
      }
      
      /**
       * Logout response.
       *
       * @param {Object} e - ajax response.
       */
      logoutResponse(e) {
        // Logout
        this.loggedIn = false;
      }
    }
    window.customElements.define(ViewAdmin.is, ViewAdmin);
  </script>
</dom-module>
