<!-- Polymer -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- Iron Ajax -->
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<!-- App Storage -->
<link rel="import" href="../../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<!-- BS4 Grid Styles -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- Text View -->
<link rel="import" href="../elements/rmc-text-view.html">

<!-- Shared Styles for Views -->
<link rel="import" href="../shared-styles/rmc-shared-styles-views.html">

<!--
`<view-rapid-prototyping>` is the view for the rapid prototyping page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
        
        <view-rapid-prototyping id="rapid-prototyping"></view-rapid-prototyping>
        ...
    </iron-pages>
-->
<dom-module id="view-rapid-prototyping">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="rmc-shared-styles-views"></style>
    
    <!-- container -->
    <div class="container">
        <!-- Rapid Prototyping Text -->
        <rmc-text-view view="rapid-prototyping" title="Rapid Prototyping"></rmc-text-view>
        
        <!-- small headings text -->
        <rmc-text-view view="3d-scanning" title="3D Scanning" small="true"></rmc-text-view>
        <rmc-text-view view="3d-printing" title="3D Printing" small="true"></rmc-text-view>
        <rmc-text-view view="mold-making" title="Mold Making" small="true"></rmc-text-view>
        <rmc-text-view view="design-evaluation" title="Design Evaluation" small="true"></rmc-text-view>
    </div>
    <!-- /container -->
  </template>

  <script>
    /** Class representing rapid prototyping view. */
    class ViewRapidPrototyping extends Polymer.Element {
      /** HTML tag name. */
      static get is() {
        return 'view-rapid-prototyping';
      }
    }
    window.customElements.define(ViewRapidPrototyping.is, ViewRapidPrototyping);
  </script>
</dom-module>
