<!-- Polymer -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- Iron Ajax -->
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<!-- App Storage -->
<link rel="import" href="../../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<!-- BS4 Grid Styles -->
<link rel="import" href="../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- Services List -->
<link rel="import" href="../elements/rmc-services-list.html">

<!-- Equipment List -->
<link rel="import" href="../elements/rmc-equipment-list.html">

<!-- Tool Room Equipment -->
<link rel="import" href="../elements/rmc-tool-room-equipment.html">

<!-- Text View -->
<link rel="import" href="../elements/rmc-text-view.html">

<!-- Loading Mixin -->
<link rel="import" href="../mixins/rmc-loading-mixin.html">

<!-- Shared Styles for Views -->
<link rel="import" href="../shared-styles/rmc-shared-styles-views.html">

<!--
`<view-capabilities>` is the view for the capabilities page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
        
        <view-capabilities id="capabilities"></view-capabilities>
        ...
    </iron-pages>
-->
<dom-module id="view-capabilities">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="rmc-shared-styles-views"></style>
    
    <template is="dom-if" if="{{!loading}}">
      <div class="container">
    
        <!-- capabilities text -->
        <rmc-text-view view="capabilities" title="Capabilities" loading="{{loading}}"></rmc-text-view>
        
        <h3>Manufacturing Services:</h3>
        
        <!-- manufacturing services -->
        <rmc-services-list name="manufacturing" api="manufacturing-services" title="Manufacturing" loading="{{loading}}"></rmc-services-list>
        
        <h3>Equipment List:</h3>
        
        <!-- equipment list -->
        <rmc-equipment-list loading="{{loading}}"></rmc-equipment-list>
        
        <h3>Tool Room:</h3>
        
        <!-- tool room equipment -->
        <rmc-tool-room-equipment loading="{{loading}}"></rmc-tool-room-equipment>
        
        <!-- tool room services -->
        <rmc-services-list name="toolRoom" api="tool-room/services" title="Tool Room" loading="{{loading}}"></rmc-services-list>
        
      </div>
    </template>
  </template>

  <script>
    /* eslint new-cap: [2, {"capIsNewExceptions": ["RMCLoadingMixin"]}] */
    /* global RMCLoadingMixin */
    
    /**
     * Class representing capabilities view.
     * @appliesMixin RMCLoadingMixin
     */
    class ViewCapabilities extends RMCLoadingMixin(Polymer.Element) {
      /** HTML tag name. */
      static get is() {
        return 'view-capabilities';
      }
    }
    window.customElements.define(ViewCapabilities.is, ViewCapabilities);
  </script>
</dom-module>
