// RMC Custom CSS
// @author Patrick Kubiak
//

$body-background: #f5f5f5;

// Flexbox
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-background;
}

main {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

// Image fill width
img {
  height: auto;
  width: 100%;
}

// Print styles
@media print {
  .navbar {
    display: none;
  }
}
