# Duration of cache
Header set Cache-Control "max-age=2592000, public"

# Don't cache service worker
<FilesMatch "sw\\.js$">
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
</FilesMatch>

# 404
ErrorDocument 404 https://%{SERVER_NAME}%/404/

# Add content types for fonts
AddType application/x-font-opentype .otf
AddType application/x-font-ttf .ttf
AddType application/x-font-woff .woff
AddType application/vnd.ms-fontobject .eot
AddType image/svg+xml .svg

# Compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE document
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-font-woff
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>

# Rewrite
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Redirect HTTP traffic to HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

  # Polymer app-route
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* / [L]
</IfModule>
