html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;  /* Margin bottom same as footer height */
  background-color: #f5f5f5;
}

/* navbar on right */
.navbar-nav {
    padding-right:20rem;
}

/* carousel images */
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}
