<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>404 View</title>
    
    <script src="../../node_modules/@npm-polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../node_modules/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-404.html">
  </head>
  <body>
    <test-fixture id="View404">
      <template>
        <view-404></view-404>
      </template>
    </test-fixture>
    
    <script>
    'use strict';
    
    /**
     * Set location
     *
     * @param {String} url - new path.
     */
    function setLocation(url) {
      window.history.pushState({}, '', url);
      Polymer.Base.fire('location-changed', {}, {node: window});
    }
    
    suite('view-404 tests', function() {
      let view404;

      setup(function() {
        view404 = fixture('View404');
      });

      test('Location /404', function() {
        setLocation('/404');
        let appLoction = view404.shadowRoot.querySelector('app-location');
        assert.equal(appLoction.route.path, '/404');
      });

      test('Go back home', function() {
        let a = view404.shadowRoot.querySelector('a');
        assert.equal(a.getAttribute('href'), '/');
      });
    });
    </script>
  </body>
</html>
