<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>RapidPrototypingView</title>
    
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-rapid-prototyping.html">
  </head>
  <body>
    <test-fixture id="RapidPrototypingView">
      <template>
        <view-rapid-prototyping loading="false"></view-rapid-prototyping>
      </template>
    </test-fixture>
    
    <script>
      suite('view-rapid-prototyping tests', function() {
        let rapidPrototypingView;

        setup(function() {
          rapidPrototypingView = fixture('RapidPrototypingView');
        });
        
        test('it should have a text view', function() {
          let textView = rapidPrototypingView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.tagName, 'RMC-TEXT-VIEW');
        });
        
        test('text view should be rapid prototyping', function() {
          let textView = rapidPrototypingView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.view, 'rapid-prototyping');
        });
        
        test('text view title should be Rapid Prototyping', function() {
          let textView = rapidPrototypingView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.title, 'Rapid Prototyping');
        });
      });
    </script>
  </body>
</html>
