<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>HomeView</title>
    
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-home.html">
  </head>
  <body>
    <test-fixture id="HomeView">
      <template>
        <view-home></view-home>
      </template>
    </test-fixture>

    <script>
      'use strict';
      
      suite('view-home tests', function() {
        let homeView;

        setup(function() {
          homeView = fixture('HomeView');
        });
        
        test('it should have a carousel', function() {
          let carousel = homeView.shadowRoot.querySelector('rmc-carousel');
          assert.equal(carousel.tagName, 'RMC-CAROUSEL');
        });
        
        test('it should have a jumbotron', function() {
          let container = homeView.shadowRoot.querySelector('.container');
          let jumbotron = container.querySelector('rmc-jumbotron');
          assert.equal(jumbotron.tagName, 'RMC-JUMBOTRON');
        });
        
        test('it should have feature cards', function() {
          let container = homeView.shadowRoot.querySelector('.container');
          let featureCards = container.querySelector('rmc-feature-cards');
          assert.equal(featureCards.tagName, 'RMC-FEATURE-CARDS');
        });
        
        test('Learn more button should navigate to About page', function() {
          let container = homeView.shadowRoot.querySelector('.container');
          let jumbotron = container.querySelector('rmc-jumbotron');
          let btn = jumbotron.shadowRoot.querySelector('.jumbotron > p:nth-child(3) > bs4-button');
          assert.equal(btn.link, '/about/');
        });
      });
    </script>
  </body>
</html>
