<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>CapabilitiesView</title>
    
    <script src="../../node_modules/@npm-polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../node_modules/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-capabilities.html">
  </head>
  <body>
    <test-fixture id="CapabilitiesView">
      <template>
        <view-capabilities></view-capabilities>
      </template>
    </test-fixture>
    
    <script>
      suite('view-capabilities tests', function() {
        let capabilitiesView;

        setup(function() {
          capabilitiesView = fixture('CapabilitiesView');
        });
        
        test('it should have a text view', function() {
          let textView = capabilitiesView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.tagName, 'RMC-TEXT-VIEW');
        });
        
        test('text view should be capabilities', function() {
          let textView = capabilitiesView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.view, 'capabilities');
        });
        
        test('text view title should be Capabilities', function() {
          let textView = capabilitiesView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.title, 'Capabilities');
        });
        
        test('it should have a list of manufacturing services', function() {
          let manufacturingServices = capabilitiesView.shadowRoot.querySelector('rmc-manufacturing-services');
          assert.equal(manufacturingServices.tagName, 'RMC-MANUFACTURING-SERVICES');
        });
        
        test('it should have a list of equipment', function() {
          let equipmentList = capabilitiesView.shadowRoot.querySelector('rmc-equipment-list');
          assert.equal(equipmentList.tagName, 'RMC-EQUIPMENT-LIST');
        });
        
        test('it should have a tool room list', function() {
          let toolRoomList = capabilitiesView.shadowRoot.querySelector('rmc-tool-room-list');
          assert.equal(toolRoomList.tagName, 'RMC-TOOL-ROOM-LIST');
        });
      });
    </script>
  </body>
</html>
