<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>AboutView</title>
    
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-about.html">
  </head>
  <body>
    <test-fixture id="AboutView">
      <template>
        <view-about loading="false"></view-about>
      </template>
    </test-fixture>
    
    <script>
      suite('view-about tests', function() {
        let aboutView;

        setup(function() {
          aboutView = fixture('AboutView');
        });
        
        test('it should have a text view', function() {
          let textView = aboutView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.tagName, 'RMC-TEXT-VIEW');
        });

        test('text view should be about', function() {
          let textView = aboutView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.view, 'about');
        });
        
        test('text view title should be About', function() {
          let textView = aboutView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.title, 'About');
        });
      });
    </script>
  </body>
</html>
