<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>CapabilitiesView</title>
    
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-capabilities.html">
  </head>
  <body>
    <test-fixture id="CapabilitiesView">
      <template>
        <view-capabilities></view-capabilities>
      </template>
    </test-fixture>
    
    <script>
      suite('view-capabilities tests', function() {
        let capabilitiesView;

        setup(function() {
          capabilitiesView = fixture('CapabilitiesView');
        });
        
        test('it should have a text view', function(done) {
          flush(function() {
            let textView = capabilitiesView.shadowRoot.querySelector('rmc-text-view');
            assert.equal(textView.tagName, 'RMC-TEXT-VIEW');
            done();
          });
        });
        
        test('text view should be capabilities', function(done) {
          flush(function() {
            let textView = capabilitiesView.shadowRoot.querySelector('rmc-text-view');
            assert.equal(textView.view, 'capabilities');
            done();
          });
        });
        
        test('text view title should be Capabilities', function(done) {
          flush(function() {
            let textView = capabilitiesView.shadowRoot.querySelector('rmc-text-view');
            assert.equal(textView.title, 'Capabilities');
            done();
          });
        });
        
        test('it should have a list of manufacturing services', function(done) {
          flush(function() {
            let manufacturingServices = capabilitiesView.shadowRoot.querySelector('rmc-services-list[name="manufacturing"]');
            assert.equal(manufacturingServices.name, 'manufacturing');
            done();
          });
        });
        
        test('it should have a list of equipment', function(done) {
          flush(function() {
            let equipmentList = capabilitiesView.shadowRoot.querySelector('rmc-equipment-list');
            assert.equal(equipmentList.tagName, 'RMC-EQUIPMENT-LIST');
            done();
          });
        });
        
        test('it should have a list of tool room equipment', function(done) {
          flush(function() {
            let toolRoomList = capabilitiesView.shadowRoot.querySelector('rmc-tool-room-equipment');
            assert.equal(toolRoomList.tagName, 'RMC-TOOL-ROOM-EQUIPMENT');
            done();
          });
        });
        
        test('it should have a list of tool room services', function(done) {
          flush(function() {
            let manufacturingServices = capabilitiesView.shadowRoot.querySelector('rmc-services-list[name="toolRoom"]');
            assert.equal(manufacturingServices.name, 'toolRoom');
            done();
          });
        });
      });
    </script>
  </body>
</html>
