<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>About View Tests</title>
    
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-about.html">
  </head>
  <body>
    <test-fixture id="AboutView">
      <template>
        <view-about></view-about>
      </template>
    </test-fixture>
    
    <script>
      suite('view-about tests', function() {
        let aboutView;

        setup(function() {
          aboutView = fixture('AboutView');
        });
        
        test('it should not be loading', function() {
          assert.equal(aboutView.loading, false);
        });
        
        suite('contians elements', function() {
          test('it should have a text view', function(done) {
            flush(function() {
              let textView = aboutView.shadowRoot.querySelector('.container > rmc-text-view');
              assert.equal(textView.tagName, 'RMC-TEXT-VIEW');
              done();
            });
          });

          test('text view should be about', function(done) {
            flush(function() {
              let textView = aboutView.shadowRoot.querySelector('rmc-text-view');
              assert.equal(textView.view, 'about');
              done();
            });
          });
          
          test('text view title should be About', function() {
            flush(function() {
              let textView = aboutView.shadowRoot.querySelector('rmc-text-view');
              assert.equal(textView.title, 'About');
              done();
            });
          });
        });
      });
    </script>
  </body>
</html>
