<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>ContactView</title>
    
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../app/src/views/view-contact.html">
  </head>
  <body>
    <test-fixture id="ContactView">
      <template>
        <view-contact></view-contact>
      </template>
    </test-fixture>
    
    <script>
      suite('view-contact tests', function() {
        let contactView;

        setup(function() {
          contactView = fixture('ContactView');
        });
        
        test('it should have a text view', function() {
          let textView = contactView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.tagName, 'RMC-TEXT-VIEW');
        });
        
        test('text view should be contact', function() {
          let textView = contactView.shadowRoot.querySelector('rmc-text-view');
          assert.equal(textView.view, 'contact');
        });
        
        test('it should have an email form', function() {
          let emailForm = contactView.shadowRoot.querySelector('#emailForm');
          assert.equal(emailForm.id, 'emailForm');
        });
      });
    </script>
  </body>
</html>
