<!-- Polymer -->
<link rel="import" href="../../../../node_modules/@npm-polymer/polymer/polymer-element.html">

<!-- Iron Ajax -->
<link rel="import" href="../../../../node_modules/@npm-polymer/iron-ajax/iron-ajax.html">

<!-- BS4 Grid Styles -->
<link rel="import" href="../../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- Text View -->
<link rel="import" href="../../elements/rmc-text-view.html">

<!-- Shared Styles for Views -->
<link rel="import" href="../shared-styles-views.html">

<!--
`<view-admin-contact>` is the view for the admin contact page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
    
        <view-admin-contact id="contact"></view-admin-contact>
        ...
    </iron-pages>
-->
<dom-module id="view-admin-contact">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="shared-styles-views">
    .container {
      margin-top: 0;
    }
    </style>
    
    <!-- container -->
    <div class="container">
        <!-- contact text -->
        <rmc-text-view view="contact" title="Contact" editable></rmc-text-view>
    </div>
    <!-- /container -->
  </template>
  
  <script>
    /* eslint new-cap: [2, {"capIsNewExceptions": ["Polymer.GestureEventListeners"]}] */
    
    /** Class representing admin contact view. */
    class ViewAdminContact extends
      Polymer.GestureEventListeners(Polymer.Element) {
      /** HTML tag name. */
      static get is() {
        return 'view-admin-contact';
      }
    }
    window.customElements.define(ViewAdminContact.is, ViewAdminContact);
  </script>
</dom-module>
