<!-- Polymer -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<!-- Polymer Elements -->
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<!-- BS4 Polymer -->
<link rel="import" href="../../../../node_modules/bs4-polymer/dist/shared-styles/bs4-grid/bs4-grid.html">

<!-- Elements -->
<link rel="import" href="../../elements/rmc-text-view.html">

<!-- Mixins -->
<link rel="import" href="../../mixins/rmc-loading-mixin.html">

<!-- Shared Styles -->
<link rel="import" href="../../shared-styles/rmc-shared-styles-views.html">

<!--
`<view-admin-about>` is the view for the admin about page.

In typical use, add the element to an `<iron-pages>` element:

    <iron-pages
        selected="[[page]]"
        attr-for-selected="id"
        role="main">
        
        <view-admin-about id="about"></view-admin-about>
        ...
    </iron-pages>
-->
<dom-module id="view-admin-about">
  <template>
    <style include="bs4-shared-styles-grid"></style>
    <style include="rmc-shared-styles-views">
    .container {
      margin-top: 0;
    }
    </style>
    
    <!-- container -->
    <div class="container">
        <!-- About Text -->
        <rmc-text-view view="about" title="About" loading="{{loading}}" editable></rmc-text-view>
    </div>
    <!-- /container -->
    
  </template>

  <script>
    /* eslint new-cap: [2, {"capIsNewExceptions": ["RMCLoadingMixin"]}] */
    /* global RMCLoadingMixin */
    
    /**
     * Class representing admin about view.
     * @appliesMixin RMCLoadingMixin
     */
    class ViewAdminAbout extends RMCLoadingMixin(Polymer.Element) {
      /** HTML tag name. */
      static get is() {
        return 'view-admin-about';
      }
    }
    window.customElements.define(ViewAdminAbout.is, ViewAdminAbout);
  </script>
</dom-module>
